.container{
    display:flex;
    flex-direction: column;
    width: 100%;
   
}

.container1{
    display: flex;
    justify-content: center;

}


.form-wrapper{
    top: 18%;

}


.form-wrapper1{
    position:relative;
    top: 18%;

}


.image-wrapper{
    width:100%;
    height:100vh;
    background-image: url("./statics/forest1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;

}



.head-line{
    margin-top: 50px;
    color: white;


}

.header{

    color:black;
    opacity: 0.5;


}




